# Core dependencies
python-dotenv
django
djangorestframework
azure-search-documents 
azure-ai-textanalytics 
python-dotenv
djangorestframework-simplejwt

# Testing dependencies
pytest
pytest-django
pytest-cov
coverage

